In [21]:
# Q1. Favorite Movie Intro
#Ask the user for:
#Their name,Their favorite movie,Print a sentence
info = input("Enter your name and favourite movie :")
name,movie1,movie =info.split()
print(f"{name}'s favourite movie is {movie1} {movie}.")

Hashim's favourite movie is Ertugrul Gazi.

In [ ]:
#Q2.Ask the user to enter a word.
#Print:
#The word in uppercase
#The word in lowercase
#The word in title case
word = input("Enter a word:")
print(word.title())
print(word.upper())
print(word.lower())

Taqwa
TAQWA
taqwa

In [ ]:
# Q3. Simple Math with Input
#Ask the user to input two numbers using input()
#Convert them to int or float
#Print:
#Sum
#Difference
#Product
#Quotient
num = input("Enter two numbers:")
num1,num2 = num.split()
print(f"Sum = {int(num1) + int(num2)}")
print(f"Difference = {int(num1) - int(num2)}")
print(f"Product = {int(num1) * int(num2)}")
print(f"Quotient = {int(num1) // int(num2)}")
# giving input 5 and 2 will give output as:

Sum = 7
Difference = 3
Product = 10
Quotient = 2

In [34]:
#Q4. My Friends List
#Create a list of 4 friends’ names.
#Print each name using a for loop.
friends = ["Ali ","Ahmed ","Haseeb","Umar"]
for friend in friends:
    print(friend)

Ali
Ahmed
Haseeb
Umar

In [41]:
#5. Update Your List
#Create a list of 3 favorite fruits.
#Replace the second fruit with another.
#Add one fruit to the end using .append().
#Add one to the beginning using .insert(0, ...).
#Print the list after each change.
fruits = ["banana","apple","mango"]
print(fruits)
fruits[1] = "apricot"
print(fruits)
fruits.append("pineapple")
print(fruits)
fruits.insert(0,"watermelon")
print(fruits)

['banana', 'apple', 'mango']
['banana', 'apricot', 'mango']
['banana', 'apricot', 'mango', 'pineapple']
['watermelon', 'banana', 'apricot', 'mango', 'pineapple']

In [28]:
#Q6. List Length Reporter
#Ask the user to enter 5 favorite animals (use input()).
#Store each animal in a list.
#After collecting:
#Print the total number of animals using len()
#Print the first and last animal using indexing
animals = input("give name sof your five favourite animals")
animals_list = animals.split()
print(animals_list)
print("Total Animals :",len(animals_list))
print("First animal :",animals_list[0])
print("Last animal :",animals_list[-1])

['Shaheen', 'Lion', 'Wolf', 'Eagle', 'Horse']
Total Animals : 5
First animal : Shaheen
Last animal : Horse

In [40]:
#Q7. Print Numbers
#Use range() and for loop to:
#Print numbers from 1 to 10
#Print even numbers from 2 to 20
#Print multiples of 5 from 5 to 50
for num in range(1,11):
      print(num)
print("Even Number:")
for num_even in range(2,21,2):
      print(num_even)
for num_f in range(5,51,5):
      print(num_f)

1
2
3
4
5
6
7
8
9
10
Even Number:
2
4
6
8
10
12
14
16
18
20
5
10
15
20
25
30
35
40
45
50

In [45]:
#Q8. Squares Table
#Use a for loop to print square numbers from 1 to 10:
for table in range(1,11):
    print(f"{table} ** 2 = {int(table ** 2)}")

1 ** 2 = 1
2 ** 2 = 4
3 ** 2 = 9
4 ** 2 = 16
5 ** 2 = 25
6 ** 2 = 36
7 ** 2 = 49
8 ** 2 = 64
9 ** 2 = 81
10 ** 2 = 100

In [55]:
# Q9. Make a List of Cubes
#Use list comprehension to generate cubes of numbers 1–5.
#Print the list.
cube_list = [c**3 for c in range(1,6)]
print(cube_list)

[1, 8, 27, 64, 125]

In [68]:
#Q10. Top 3 Movies
#Ask the user to enter 5 movie names using input().
#Store them in a list.
#Print:
#The first 3 movies using slicing
#the last 2 movies using slicing
movies = input("Enter 5 movie names")
movies_list = [movies]
movies_list = movies.split()
print(movies_list)
print(movies_list[0:3])
print(movies_list[-2:])

['ErtugrulGazi', 'Salahudin', 'KrulusOsman', 'FatehSultani', 'Seljuk']
['ErtugrulGazi', 'Salahudin', 'KrulusOsman']
['FatehSultani', 'Seljuk']

In [121]:
#Q11. Top Students
#Ask the user to enter names of 5 students using input() (one by one).
#Store the names in a list.
#Then:
#Print a greeting for each student using a for loop.
#Print only the top 3 students using slicing.
#Copy the list using [:], then:
#Add 2 new names to the copied list using .append()
#Print both the original and the new list to show that the original is unchanged.
students = []
for x in range(5):
      names = input(f"Enter five student names{x}")
      students.append(names)
print(students)
for greeting in students:
    print(f"Hello, {greeting}")

top_students = students[0:3]
print("Original List of top Students :",top_students)
new_students = top_students[:]
new_students.append("Hashim")
new_students.append("Usama")
print("Copied List :",new_students)
print("Original List Again :",top_students)

['Ali', 'Umar', 'Haseeb', 'Ahmed', 'Abdullah']
Hello, Ali
Hello, Umar
Hello, Haseeb
Hello, Ahmed
Hello, Abdullah
Original List of top Students : ['Ali', 'Umar', 'Haseeb']
Copied List : ['Ali', 'Umar', 'Haseeb', 'Hashim', 'Usama']
Original List Again : ['Ali', 'Umar', 'Haseeb']

In [140]:
#Q12.  Travel Wishlist
#Create a list of 5 places you want to visit.
#Print the original list.
#Print a temporarily sorted list using sorted().
#Sort the list in reverse alphabetical order using .sort(reverse=True).
#Use .reverse() twice:
#First to flip and print the list
#Then to flip it back and print again
travel_list = ["Makkah","Madina","Bait-ul-Maqadas","Turkiye","Spain",]
print("Original List:")
print(travel_list)
print("Temporarily sorted List:")
print(sorted(travel_list))
print("Original List again:")
print(travel_list)
travel_list.sort(reverse=True)
print("Reverse true list:")
print(travel_list)
travel_list.reverse()
print("First flip list:")
print(travel_list)
travel_list.reverse()
print("Second flip list:")
print(travel_list)

Original List:
['Makkah', 'Madina', 'Bait-ul-Maqadas', 'Turkiye', 'Spain']
Temporarily sorted List:
['Bait-ul-Maqadas', 'Madina', 'Makkah', 'Spain', 'Turkiye']
Original List again:
['Makkah', 'Madina', 'Bait-ul-Maqadas', 'Turkiye', 'Spain']
Reverse true list:
['Turkiye', 'Spain', 'Makkah', 'Madina', 'Bait-ul-Maqadas']
First flip list:
['Bait-ul-Maqadas', 'Madina', 'Makkah', 'Spain', 'Turkiye']
Second flip list:
['Turkiye', 'Spain', 'Makkah', 'Madina', 'Bait-ul-Maqadas']

In [ ]:
#Mini Challenge: Name Art Generator
#Combine your understanding of input, lists, string slicing, for loops, and list length.
name = input("Enter your name ")
name_list = list(name)
print(name_list)
for line in name_list:
     print(line)
print(name_list[0:3])
print(name_list[-2:])
print("Total characters :",len(name_list))

['h', 'a', 's', 'h', 'i', 'm']
h
a
s
h
i
m
['h', 'a', 's']
['i', 'm']
Total characters : 6