In [ ]:
#1.Create a variable called greeting and store any message. Print it.
greeting= "Assalam o Alaikum"
print(greeting)

Assalam o Alaikum

In [2]:
#3.Create two variables first_name and last_name. Combine them into a full name using an f-string.
first_name = "Hashim"
last_name = " Aslam"
print(first_name + last_name)

Hashim Aslam

In [ ]:
#4.Print a quote along with the author's name using an f-string.
author_name = "Imam Shaafi"
quote = "Time is a Sowrd if you don't cut it, it will cut you."
print(f"My favourite quote: {quote} -{author_name} ")

My favourite quote: Time is a Sowrd if you don't cut it, it will cut you. -Imam Shaafi

In [ ]:
#5.Store a person's name with extra spaces. Strip the spaces before printing.
name = "     Sultanm Tipu Shaheed     "
print(name.strip())

Sultanm Tipu Shaheed

In [ ]:
#6.Take a number, add 5, multiply by 2, subtract 3, and print the final result.
a = 7
b = 5
c = 2
d = 3
result1 = a + b
print("Ans1=",result1)
result2 = result1 * c
print("Ans2=",result2)
result3 = result2 - d
print("Ans3=",result3)

Ans1= 12
Ans2= 24
Ans3= 21

In [ ]:
#7.Create two numbers a and b and print their sum, difference, product, and quotient.
num1 = 16
num2 = 4
result_sum = num1 + num2
print("Ans_sum=",result_num)
result_diff = num1 - num2
print("Ans_diff=",result_diff)
result_pro = num1 * num2
print("Ans_pro=",result_pro)
result_quo = num1 / num2
print("Ans_quo=",result_quo)

Ans_sum= 20
Ans_diff= 12
Ans_pro= 64
Ans_quo= 4.0

In [ ]:
#8.Find the square and cube of a number using the ** operator.
number = 4
print(number ** 2)
print(number ** 3)

16
64

In [ ]:
#9.Print the sum of three floating-point numbers.
num_f1 = 1.5
num_f2 = 3.5
num_f3 = 4.5
result_float = num_f1 + num_f2 + num_f3
print(result_float)

9.5

In [ ]:
#10.Assign three variables x, y, z in a single line and print them.
x,y,z = 12, 28 ,47
print(x,z,y)

12 47 28

In [5]:
#11.Create a list of 5 favorite fruits and print each fruit separately.
fruits = ["Apple","Banana","Orannge","Pineapple","Apricot"]
print(fruits)
print(fruits[0])
print(fruits[1])
print(fruits[2])
print(fruits[3])
print(fruits[4])

['Apple', 'Banana', 'Orannge', 'Pineapple', 'Apricot']
Apple
Banana
Orannge
Pineapple
Apricot

In [6]:
#12.Modify the second item in the list and print the updated list.
fruits = ["Apple","Banana","Orannge","Pineapple","Apricot"]
print(fruits)
fruits[1] = 'Mango'
print(fruits)

['Apple', 'Banana', 'Orannge', 'Pineapple', 'Apricot']
['Apple', 'Mango', 'Orannge', 'Pineapple', 'Apricot']

In [8]:
#13.Append a new fruit and insert another at the beginning of the list.
fruits = ["Apple","Banana","Orannge","Pineapple","Apricot"]
fruits.append("Grapes")
fruits.insert(0,"Watermelon")
print(fruits)

['Watermelon', 'Apple', 'Banana', 'Orannge', 'Pineapple', 'Apricot', 'Grapes']

In [38]:
#14.Demonstrate deleting an item using del, pop(), and remove().
fruits = ['Watermelon', 'Apple', 'Banana', 'Orannge', 'Pineapple', 'Apricot', 'Grapes']
#delete
del fruits [1]
print('After deleting',fruits)
#pop
popped_fruits = fruits.pop(3)
print('After Popping',fruits)
print("Fopped Fruit :",popped_fruits)
# remove
fruits.remove('Apricot')
print('After removing',fruits)

After deleting ['Watermelon', 'Banana', 'Orannge', 'Pineapple', 'Apricot', 'Grapes']
After Popping ['Watermelon', 'Banana', 'Orannge', 'Apricot', 'Grapes']
Fopped Fruit : Pineapple
After removing ['Watermelon', 'Banana', 'Orannge', 'Grapes']

In [66]:
#15.Sort the list permanently with sort() and temporarily with sorted(). Print before and after each.
fruit_list = ['Watermelon', 'Apple', 'Banana', 'Orannge', 'Pineapple','Grapes']
print('original list',fruit_list)
new = sorted(fruit_list)
print('temporary sorting',new)
print('original list',fruit_list)
fruit_list.sort()
print('After permanatly sorting',fruit_list)
print('original list',fruit_list)

original list ['Watermelon', 'Apple', 'Banana', 'Orannge', 'Pineapple', 'Grapes']
temporary sorting ['Apple', 'Banana', 'Grapes', 'Orannge', 'Pineapple', 'Watermelon']
original list ['Watermelon', 'Apple', 'Banana', 'Orannge', 'Pineapple', 'Grapes']
After permanatly sorting ['Apple', 'Banana', 'Grapes', 'Orannge', 'Pineapple', 'Watermelon']
original list ['Apple', 'Banana', 'Grapes', 'Orannge', 'Pineapple', 'Watermelon']

In [81]:
#16.Create a list of dream travel destinations:
#1.Sort alphabetically
#2.Reverse the order
#3.Find the total number of destinations
travel_list = ['Makkah','Madina','Bait-ul-Maqadas','Turkiye','Spain','Egypt']
print(travel_list)
travel_list.sort()
print(travel_list)
travel_list.reverse()
print(travel_list)
print("Total Travel Destinations:",{len(travel_list)})

['Makkah', 'Madina', 'Bait-ul-Maqadas', 'Turkiye', 'Spain', 'Egypt']
['Bait-ul-Maqadas', 'Egypt', 'Madina', 'Makkah', 'Spain', 'Turkiye']
['Turkiye', 'Spain', 'Makkah', 'Madina', 'Egypt', 'Bait-ul-Maqadas']
Total Travel Destinations: {6}

In [105]:
#17.Start with an empty guest list:
#Append three guests
#Insert a guest at the beginning
#Remove one guest with pop()
#Print the final invitation list.
guests = []
print(guests)
guests.append("Haseeb")
guests.append("Abdullah")
guests.append("Umar")
print(guests)
guests.insert(0,"Ali")
print(guests)
popped_guest = guests.pop(2)
print("Popped Guest:",popped_guest)
print('Final invitation list:',guests)

[]
['Haseeb', 'Abdullah', 'Umar']
['Ali', 'Haseeb', 'Abdullah', 'Umar']
Popped Guest: Abdullah
Final invitation list: ['Ali', 'Haseeb', 'Umar']

In [109]:
#18.Access the last three elements of a list without using negative indices.
favourite_fruit_list = ['Apple','Apricot', 'Banana', 'Grapes', 'Orannge', 'Pineapple', 'Watermelon','Cherries']
print(favourite_fruit_list)
print("Total Fruits:",{len(favourite_fruit_list)})
print(favourite_fruit_list[5:8])

['Apple', 'Apricot', 'Banana', 'Grapes', 'Orannge', 'Pineapple', 'Watermelon', 'Cherries']
Total Fruits: {8}
['Pineapple', 'Watermelon', 'Cherries']

In [7]:
#19.Print only the even numbers from a list.
numbers = [1,2,3,4,5,6,7,8,9,10]
for even in numbers:
    if even % 2 == 0:
        print(even)
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2
4
6
8
10

In [20]:
#20.Print the squares of the first 10 natural numbers using a list.
real_number = range(1,11)
for square in real_number:
   print(square**2)

1
4
9
16
25
36
49
64
81
100

Bonus Challange

In [43]:
#Combine variables and lists:
#Ask the user for five favorite movies.
#Store them in a list.
#Print the sorted list alphabetically.
movie =  input("Enter your fvourite movies :")
movie_list = [movie]
movie_list = movie.split()
movie_list.sort()
print(movie_list)

Enter your fvourite movies :Osman Ertugrul Salahudin FatehSultani
['Ertugrul', 'FatehSultani', 'Osman', 'Salahudin']